<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div class="container" id="about">
            <div class="row">
                <h2 class="text-center">The Second Page</h2>
                    <div class="col-xs-12">
                        <p>OK OK OK The 2nd ejs file</p>
                    </div>
            </div>
        </div>
    </body>
</html>